<div class="main-container">
    <div class="list-section">
      <!-- Placeholder for the list of items (orders, products, customers, reservations) -->
      <app-item-list></app-item-list>
    </div>
    <div class="divider"></div>
    <div class="detail-analytics-section">
      <div class="detail-section">
        <!-- Placeholder for item details -->
        <app-item-detail></app-item-detail>
      </div>
      <mat-divider></mat-divider>
      <div class="analytics-section">
        <!-- Placeholder for analytics -->
        <app-leader-board></app-leader-board>
      </div>
    </div>
  </div>
  