.main-container {
    display: flex;
    height: 100vh;
    width: 100%;
    position: relative;
  }

  .list-section {
    // flex: 0 0 90%; /* Set the list-section to 70% of the screen width */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
     float: left;
  }
  
  .detail-analytics-section {
    // flex: 0 0 10%; /* Set the detail-analytics-section to 30% of the screen width */
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    float: right;
  }
  
 