<div class="wod-container">
    <!-- WOD Panel -->
    <div class="wod-panel">
      <div class="wod-card" *ngIf="currentWod as wod">
        <div class="wod-header">
          <h2>{{ wod.name }} 
            <span *ngIf="wod.isBenchMark" class="benchmark-badge">Benchmark</span>
            <span *ngIf="wod.level === 'Rx'" class="rx-badge">Rx</span>
          </h2>
          <button mat-icon-button class="refresh-button" aria-label="Refresh WOD" (click)="refreshWod()">
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
        <p class="wod-type">{{ wod.type | titlecase }}</p>
        <p class="wod-description">{{ wod.description }}</p>
  
        <!-- Updated WOD Content Grouped by Parts -->
        <div class="wod-content">
          <ng-container *ngFor="let part of getParts(wod.content)">
            <div class="part-section" [ngClass]="'part-' + part.number">
              <h3>Part {{ part.number }}</h3>
              <div *ngFor="let item of part.movements" class="wod-item" (click)="displayMovementDetails(item)">
                <p class="movement">{{ item.movement }} - Reps: {{ item.movementRepetition }}</p>
              </div>
            </div>
          </ng-container>
        </div>
  
        <div class="wod-details">
          <p><strong>Target Muscle Groups:</strong> {{ wod.targetMuscleGroups.join(', ') }}</p>
          <p><strong>Skill Level:</strong> {{ wod.skillLevel | titlecase }}</p>
          <p><strong>Equipment Needed:</strong> {{ wod.equipmentNeeded.join(', ') }}</p>
        </div>
      </div>
    </div>
  
    <!-- Movement Details Component -->
    <app-movement-details *ngIf="selectedMovement" [movement]="selectedMovement" [wodName]="currentWod.name"></app-movement-details>
  </div>
  