<div>
  <mat-drawer-container class="drawer-container">
    <mat-drawer mode="side" opened class="drawer">
      <button mat-icon-button (click)="loadChallenges()" matTooltip="Challenge" class="drawer-button">
        <mat-icon>verified</mat-icon>
      </button>
      <button mat-icon-button (click)="loadWods()" matTooltip="WODs" class="drawer-button">
        <mat-icon>fitness_center</mat-icon>
      </button>
      <button mat-icon-button (click)="loadActiveRecovery()" matTooltip="Active Recovery" class="drawer-button">
        <mat-icon>sports_gymnastics</mat-icon>
      </button>
    </mat-drawer>

    <mat-drawer-content>
      <app-main-content></app-main-content>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
